html,
body,
main {
  height: 100%;
}

body {
  background-color: #000;
  overflow: hidden;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: inherit;
}

.main__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: inherit;
  padding: 0 15px;
}
.main__date, .main__date-hours {
  position: absolute;
  font-size: 15px;
  font-weight: 600;
  color: #ec008c;
  display: flex;
  justify-content: space-around;
}
.main__date-hours {
  justify-content: center;
}
.main__date {
  bottom: 30px;
  right: 20px;
  width: 100px;
}
.main__date-hours {
  bottom: 10px;
  right: 50px;
  width: 75px;
}

.weather-app {
  position: relative;
  max-width: 748px;
  height: 760px;
  flex-grow: 1;
  background: linear-gradient(143.98deg, rgba(255, 255, 255, 0.11) 0%, rgba(255, 255, 255, 0.22) 100%);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;
}
.weather-app::after, .weather-app::before, .weather-app__decor::before {
  content: "";
  position: absolute;
  background-size: contain;
  filter: blur(5px);
  border-radius: 50%;
  z-index: -1;
}
.weather-app::before {
  background: linear-gradient(90deg, #ff4e50 0%, #f9d423 100%);
  width: 450px;
  height: 450px;
  bottom: -320px;
  right: -177px;
}
.weather-app::after {
  background: linear-gradient(131.03deg, #26d0ce 7.78%, #1a2980 89.77%);
  width: 800px;
  height: 800px;
  top: -400px;
  left: -503px;
}
.weather-app__decor::before {
  background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
  width: 75px;
  height: 75px;
  filter: blur(1px);
  top: -13px;
  right: -37px;
}
.weather-app__form {
  position: relative;
}
.weather-app__wrapper {
  position: absolute;
  right: 0;
  top: 0;
}
.weather-app__btn {
  padding: 4px 4px;
  color: white;
  background-color: #000;
  position: absolute;
  right: 13px;
  top: 5px;
  font-size: 14px;
  border-radius: 7px;
  cursor: pointer;
}
.weather-app__search {
  color: white;
  font-size: 20px;
  text-align: center;
  display: block;
  width: 100%;
  padding: 5px 15px;
  max-width: 500px;
  margin: 10px auto 0;
  border: none;
  background: linear-gradient(143.98deg, rgba(107, 64, 76, 0.6392156863) 0%, rgba(255, 0, 0, 0.26) 100%);
  border-radius: 5px;
  outline: none;
}
.weather-app__search::placeholder {
  color: #ccc2c2;
}

/* Light 300
Regular 400
SemiBold 600 */
.weather-info__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 380px;
  margin: 0 auto;
}
.weather-info__city {
  color: #f5f5f5;
  font-size: 38px;
  font-weight: 600;
}
.weather-info__description {
  text-align: center;
  font-size: 30px;
  font-weight: 100;
  color: #f5f5f5;
}
.weather-info__description-item {
  margin-bottom: 10px;
}
.weather-info__description-item:last-child {
  margin: 0;
}
.weather-info__description-item-temp {
  position: relative;
  display: inline;
}
.weather-info__description-item-temp::after {
  content: "o";
  position: absolute;
  top: -6px;
  right: 25%;
  font-size: 10px;
}

.weather-daily,
.weather-hourly {
  display: flex;
  padding-top: 40px;
  justify-content: center;
  color: #f5f5f5;
}
.weather-daily__item,
.weather-hourly__item {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.weather-daily__temp,
.weather-hourly__temp {
  position: relative;
}
.weather-daily__temp::after,
.weather-hourly__temp::after {
  content: "o";
  position: absolute;
  top: -5px;
  font-size: 7px;
  right: 5px;
}

.error-block h1 {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

@media (max-width: 1540px) {
  .weather-app {
    max-width: 710px;
    height: 650px;
  }
}
@media (max-width: 1020px) {
  .weather-app::before {
    width: 350px;
    height: 350px;
    bottom: -220px;
    right: -100px;
  }
}
@media (max-width: 850px) {
  .weather-app {
    max-width: 456px;
    height: 630px;
  }
  .weather-app__search {
    width: 60%;
  }
  .weather-app::before {
    width: 250px;
    height: 250px;
    bottom: -120px;
    right: -80px;
  }
}
@media (max-width: 850px) {
  .weather-app__decor::before {
    width: 50px;
    height: 50px;
    top: -13px;
    right: -17px;
  }
  .weather-app::before {
    width: 250px;
    height: 250px;
    bottom: -120px;
    right: -80px;
  }
}
@media (max-width: 850px) {
  .weather-app img {
    height: 80px;
    object-fit: cover;
  }
  .weather-app::before {
    bottom: -90px;
    right: 0px;
  }
}
@media (max-width: 500px) {
  .weather-info__wrapper {
    max-width: 220px;
  }
  .weather-info__city {
    font-size: 25px;
  }
  .weather-info__description {
    font-size: 20px;
  }
  .weather-info__description-item-temp {
    display: inline;
  }
}
@media (max-width: 470px) {
  .weather-daily,
.weather-hourly {
    padding-top: 70px;
  }
  .weather-info img {
    height: 55px;
    object-fit: cover;
  }
  .weather-info img__city {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .weather-hourly {
    flex-wrap: wrap;
    padding-top: 10px;
    font-size: 12px;
  }
  .weather-hourly__item {
    height: 130px;
  }
  .weather-daily {
    flex-wrap: wrap;
    padding-top: 20px;
    height: 260px;
  }
  .weather-info__wrapper {
    margin: 0 auto;
  }
  .icon {
    width: 70px;
  }
  .weather-app::after {
    width: 670px;
  }
}
@media (max-width: 385px) {
  .weather-info__icon img {
    height: 40px;
  }
  .weather-hourly,
.weather-daily {
    height: auto;
    padding-top: 0;
  }
  .weather-hourly {
    margin-bottom: 0;
  }
  .weather-hourly__item {
    height: 95px;
  }
  .weather-info__city {
    font-size: 15px;
  }
  .weather-info__description {
    font-size: 15px;
    margin-bottom: 15px;
  }
  .main__date,
.main__date-hours {
    font-size: 13px;
  }
  .main__date-hours {
    bottom: 3px;
    right: 20px;
  }
  .main__date {
    right: 5px;
    bottom: 20px;
  }
}
@media (max-width: 365px) {
  .weather-daily {
    height: 245px;
  }
}
@media (max-width: 315px) {
  .weather-daily {
    height: auto;
  }
}