html,
body,
main {
  height: 100%;
}

body {
  background-color: #000;
  overflow: hidden;
  font-family: "Overpass", sans-serif;
  font-size: 15px;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  height: inherit;
}

.main {
  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: inherit;
    padding: 0 15px;
  }
  &__date,
  &__date-hours {
    position: absolute;
    font-size: 20px;
    font-weight: 600;
    color: #ec008c;
    display: flex;
    justify-content: space-around;
  }
  &__date-hours{
    justify-content: center;
  }
  &__date {
    bottom: 50px;
    right: 20px;
    width: 142px;
  }
  &__date-hours {
    bottom: 10px;
    right: 50px;
    width: 75px;
  }
}

.weather-app {
  position: relative;
  max-width: 648px;
  height: 760px;
  flex-grow: 1;
  background: linear-gradient(
    143.98deg,
    rgba(255, 255, 255, 0.11) 0%,
    rgba(255, 255, 255, 0.22) 100%
  );
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 30px;

  &::after,
  &::before,
  &__decor::before {
    content: "";
    position: absolute;
    background-size: contain;
    filter: blur(5px);
    border-radius: 50%;
    z-index: -1;
  }

  &::before {
    background: linear-gradient(90deg, #ff4e50 0%, #f9d423 100%);
    width: 450px;
    height: 450px;
    bottom: -320px;
    right: -177px;
  }

  &::after {
    background: linear-gradient(131.03deg, #26d0ce 7.78%, #1a2980 89.77%);
    width: 800px;
    height: 800px;
    top: -400px;
    left: -503px;
  }

  &__decor::before {
    background: linear-gradient(90deg, #ec008c 0%, #fc6767 100%);
    width: 75px;
    height: 75px;
    filter: blur(1px);
    top: -13px;
    right: -37px;
  }

  &__search {
    color: #ffff;
    font-size: 20px;
    text-align: center;
    display: block;
    width: 100%;
    padding: 5px 15px;
    max-width: 500px;
    margin: 10px auto 0;
    border: none;
    background:linear-gradient(143.98deg, #6b404ca3 0%, rgb(255 0 0 / 26%) 100%);
    border-radius: 5px;
    outline: none;
  }
}

/* Light 300
Regular 400
SemiBold 600 */
.weather-info {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 380px;
    margin: 0 auto 50px;
  }
  &__city {
    color: #f5f5f5;
    font-size: 38px;
    font-weight: 600;
  }

  &__description {
    text-align: center;
    font-size: 30px;
    font-weight: 100;
    color: #f5f5f5;
  }
  &__description-item {
    margin-bottom: 10px;
  }
  &__description-item:last-child {
    margin: 0;
  }

  &__description-item-temp {
    position: relative;
    display: inline;
    &::after {
      content: "o";
      position: absolute;
      top: -6px;
      right: -10%;
      font-size: 15px;
    }
  }
}
.weather-daily {
  display: flex;
  padding-top: 70px;
  justify-content: center;
  color: #f5f5f5;

  &__item {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  &__temp {
    position: relative;

    &::after {
      content: "o";
      position: absolute;
      content: "o";
      position: absolute;
      top: -6px;
      font-size: 10px;
      right: -6px;
    }
  }
}
.error-block h1{
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
@media (max-width: 1540px) {
  .weather-app {
    max-width: 510px;
    height: 650px;
  }
}
@media (max-width: 1020px) {
  .weather-app::before {
    width: 350px;
    height: 350px;
    bottom: -220px;
    right: -100px;
  }
}

@media (max-width: 850px) {
  .weather-app {
    max-width: 456px;
    height: 630px;

    &__search {
      width: 60%;
      
    }
  }
  .weather-app::before {
    width: 250px;
    height: 250px;
    bottom: -120px;
    right: -80px;
  }
}

@media (max-width: 850px) {
  .weather-app {
    &__decor::before {
      width: 50px;
      height: 50px;
      top: -13px;
      right: -17px;
    }
  }
  .weather-app::before {
    width: 250px;
    height: 250px;
    bottom: -120px;
    right: -80px;
  }
}

@media (max-width: 850px) {
  .weather-app::before {
    bottom: -90px;
    right: 0px;
  }
}

@media (max-width: 500px) {
  .weather-info {
    &__wrapper {
      max-width: 220px;
    }
    &__city {
      font-size: 25px;
    }
    &__description {
      font-size: 20px;
    }
  }
  .weather-info__description-item-temp {
    display: inline;
  }
}

@media (max-width: 400px) {
  .weather-daily {
    flex-wrap: wrap;
    padding-top: 30px;
    font-size: 12px;

    &__item {
      height: 130px;
    }
  }
  .weather-info__wrapper {
    margin: 0 auto;
  }
  .icon {
    width: 70px;
  }
}

@media (max-width: 400px) {
  .weather-app::after {
    width: 670px;
  }
}
